*,*::after,*::before{
    box-sizing:border-box;
}
:root{
    --bluetext:rgb(20, 134, 186);
    --blacktext:rgb(51, 51, 51);
    --lighttext:darkgray;
    --lightbluebg:rgb(236, 249, 255);
    --darkbluebg:rgb(17,81,111);
    --lightbrownbg:rgb(250,250,250);
    --brownbg:rgb(243,242,242);
    --fontfam:'Roboto', sans-serif;
    --font-small:0.8rem;        
}

body{
    padding:0;
    margin:0;
    background-image:url(images/bkg.png);
    font-family:var(--fontfam);
}
  

@media screen and (min-width:1024px){
    /* top-section */
    .top-section{
        width:100%;
        border:1px solid black;
        background-color:white;
    }
    #logo{
        width:75%;
        margin:auto;
    }

   /* FIRST PART OF LOGO */
    .cart-label{
        float:right;
        color:var(--bluetext);
        font-weight:bold;
        padding:0.15rem;
        margin-left:0.3rem;
        font-size:var(--font-small);
    }
    .highlight{
        background-color:var(--brownbg);
        font-weight:550;
    }
    /* to overcome overflow condition */
    .cart-div::after{
        content:'';
        clear:both;
        display:table;
    }
    .cart-div-item{
        text-align:center;
        padding:0 1.2rem;
    }
    .first::after{
        content:'';
        display:inline-block;
        height:0.7rem;
        width:0.12rem;
        position:relative;
        left:1.5rem;
        top:0.1rem;
        background-color:var(--bluetext);
    }
     /* FIRST PART OF LOGO */

     /* SECOND PART OF LOGO */
     .logo-div{
        display:flex;             /* used flex because float property was breaking the layout somehow*/
        padding:0 2rem 0 2rem;
        align-items:center;
    }
    .logo-div-item{
        padding:0.7rem 0;
    }
    
    /* LOGO DIV ITEM 1 */
    .company-review{
        font-size:1.5rem;
        color:var(--bluetext);
        font-weight:bold;
        letter-spacing:0.1rem;
        display:flex; /* to center the contents vertically */
        align-items:center;
        flex-grow:0.5;
    }
    /* LOGO DIV ITEM 1 */

    /* LOGO DIV ITEM 2 */
    .logo-img{
        flex-grow:0.4;
        display:flex; /* to center the contents vertically*/
        justify-content:start;
        align-items:center;
    }
    .logo-img img{
        width:95%;
    }
    /* LOGO DIV ITEM 2 */
    
    /* LOGO DIV ITEM 3 */
    .company-contact-wrapper{ /* used a wrapper around grid so that grid layout does not break*/
        flex-grow:2;
        display:flex;
        justify-content:flex-end;
    }

    /* grid work */
    .company-contact{
        display:grid;
        grid-template-columns:50px 120px;
    }
    .contact-item{
        margin:0;
    }
    .contact-text{
        font-size:var(--font-small);
        color:var(--blacktext);
        font-weight:bold;
        display:flex;
        align-items:flex-end;
        justify-content:center;
    }
    .contact-image{
        justify-self:end;
        align-self:end;
        grid-row:1/3;
        height:100%;
    }
    .phone-no{
        color:rgb(38,159,215);
        font-size:1rem;
        font-weight:bolder;
        letter-spacing:0.04rem;
        grid-column:2/3;
        text-align:center;
    }
    /* grid work */

    /* LOGO DIV ITEM 3 */

    /* top-section */

    /* banner-section */
    .banner-section{
        width:100%;
        border:1px solid black;
    }
    #banner{
        width:75%;
        margin:auto;
        display:grid;  /* set up a grid of 3 rows to maintain the layout */
        grid-template-rows:1.3fr 5.3fr 12.3fr; /*relative units do not break layout */
    }
    /* breadcrumbs  FIRST ROW*/
    .option-list{
        padding:1rem 1.5rem;
        margin:0;
        list-style-type:none;
        overflow: hidden;
        background-color:var(--darkbluebg);
    }
    .option-list-item{
        float:left;
        color:white;
        margin-left:1rem;
        font-weight:bold;
        font-size:var(--font-small);
    }
    .crumb-img{
        margin-left:0.5rem;
    }
    /* breadcrumbs */

    /*companytitle SECOND ROW*/
    .company-work{
        position:relative; /* to gaurd the grid wrapper inside so that it does not break the layout */
    }
    .tabletsimage{
        display:flex;
        justify-content:center; /* centering items inside divs */
        align-items:center;
        height:100%;
    }
    .tabletsimage img{
        width:100%;
        height:100%;
    }
    .companytitlewrapper{
        position:absolute; /* wrapper around grid */
        bottom:10%;
    }
    .companytitle{
        width:100%;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:9.3rem;
    }
    .containstitle{
        padding:1.8rem;
    }
    .pharmaimage{
        margin-left:2rem;
    }
    .searchbox{
        display:flex;
        flex-direction:column; /* reversing flex direction */
        padding:1.8rem;
    }
    .mainsearch{
        display:flex;
    }
    .mainsearch input{
        padding:0.8rem;
        width:80%;
        border:1px solid var(--blacktext);
        color:var(--blacktext);
        border-radius:0.3rem;
        margin-right:0.5rem;
    }
    .searchbox p{
        color:white;
        font-size:1rem;
        font-weight:bolder;
    }
    /*companytitle*/
    .slider-wrapper{
        position: relative;
    }
    .slider{
        display:flex;
        justify-content:center;
        align-items:center;
        height:100%;
    }
    .slider img{
        width:100%;
        height:100%;
    }
    .slider-img-desc{
        background-color:rgb(51,76,36);
        color:white;
        position: absolute;
        right:0;
        left:0;
        bottom:0;
        opacity:0.9;
    }
    .slider-img-desc p,.slider-img-desc h4{
        margin-left:1.5rem;
        margin-bottom:0.05rem;
    }
    #slider-p2{
        font-size:var(--font-small);
    }
    /* banner-section */

    /* content-section */
    .content-section{
        width:100%;
        border:1px solid black;
    }
    #allcontent{
        width:75%;
        margin:auto;
        border:1px solid black;
        display:grid;
        grid-template-columns:1fr 2fr 2fr; 
        grid-template-rows:auto;
        background-color:white;
        grid-gap:1.3rem;
        padding:1.3rem;
    }

    /* general description of every main content part */
    .maincon-item{
        background-color:var(--lightbrownbg);
    }
    /* general description of every main content part */

    /*first part*/
    .categories{
        background-color:var(--lightbrownbg);
        padding:1rem;
    }
    .categories h4{
        color:var(--bluetext);
        margin-top:0;
        position:relative;
    }
    .category-list{
        list-style-type:none;
        padding:0;
        margin:0;
        background-color:var(--lightbrownbg);
    }
    .category-li{
        font-weight:bolder;
        line-height:2.2rem;
        font-size:0.9rem;
    }
    /*first part*/

    /*second part*/
    .leftad{
        display:flex;
        justify-content:center;
        align-items:flex-start;
        padding:1.3rem;
        background-color:white;
    }
    /*second part*/

    /*first section*/
    
    /* arrangement for maincontent items */
    .articles,.company-profiles{
        grid-column:2/4;
    }
    .leftad{
        grid-row:2/4;
        grid-column:1/2;
    }
    .company-profiles .content-container{
        position:relative;
    }
    .whitepapers .content-item,.videos .content-item{
        position: relative;
    }
    .addisplay{
        grid-column:1/4;
        grid-row:4/12;
    }
    .profile-add-item{
        grid-row:2/4;
        grid-column:1/2;
        z-index:100;
    }
    .company-profiles .content-container .last-row{
        grid-row:3/4;
        grid-column:1/2;
    }
    .company-profiles .content-container .second-last-row{
        grid-row:2/3;
        grid-column:1/2;
    }
     /* arrangement for maincontent items */

    /* all horizontal lines */

    .content-heading::after,.content-row::after,.whitepapers .content-item::after,.videos .content-item::after,.categories h4::after,.content-item-special::after{
        content:'';
        display:block;
        position:absolute;
        height:0.01rem;
        left:1.7rem;
        right:2.2rem;
        top:2.8rem;
        background-color:var(--lighttext);
        opacity:0.2;
    }
    .content-item-special::after{
        top:22.5rem;
        left:0rem;
        right:2rem;
    }
    .videos .content-item::after{
        top:6rem;
    }
    .whitepapers .content-item::after{
        top:8rem;
    }
    .content-container > .last-row::after{
        display:none;
    }
    .categories h4::after{
        right:0;
        left:0;
        top:1.7rem;
    }
    .content-row::after{
        top:6rem;
    }
    /* all horizontal lines */


    /* above every content-container*/
    .content-heading{
        color:var(--bluetext);
        font-weight:bolder;
        overflow:hidden;
        padding:0 2rem 0 2rem;
        position: relative;
    }
    .content-heading p{
        float:left;
    }
    .content-heading span{
        float:right;
        font-size:var(--font-small);
        position:absolute;
        right:3rem;
        top:1.2rem;
    }
    .content-heading img{
        position:absolute;
        right:2.5rem;
        top:1.5rem;
    }
    
    /* above every content-container*/
    
    /* content-container*/
    .content-container{
        display:grid;
        grid-template-columns:1fr;
    }

    /* content-container rows */
    .content-row{
        display:flex;
        position: relative;
    }
    /* content-container rows */

    /* grid of content items inside container*/
    .content-item{
        display:grid;
        grid-template-columns:1fr 3fr;
        flex-grow:1;
    }
    .content-item-image{
        justify-self:center;
        grid-row:1/3;
        align-self:center;
    }
    .content-item-heading h4{
        margin-bottom:0.3rem;
    }
    .content-item-description{
        grid-column:2/3;
    }
    .content-item-description p{
        font-size:var(--font-small);
        margin-top:0.3rem;
        font-weight:bold;
    }
    .content-item-description p > span{
        color:var(--bluetext);
        font-size:bolder;
        margin-right:0.3rem;
    }
    /* grid of content items inside container*/

    /* content-container*/

    .profile-add-item{
        display:flex;
        background-color:var(--lightbluebg);
        justify-content:center;
        align-items:center;
        width:50%;
        justify-self:end;
    }

    .article-heading{
        display:inline-block;
    }

    .article-heading::after{
        content:" ";
        display:inline-block;
        height:1rem;
        width:0.1rem;
        position: relative;
        top:0.2rem;
        background-color:var(--lighttext);
    }
    .article-heading + span{
        color:var(--lighttext);
        font-size:0.9rem;
        font-weight:bold;
    }
    .video .content-item-image{
        margin-left:1.5rem;
    }
    .video .content-item-description{
        margin-left:1.4rem;
    }
    .video .content-item-heading{
        margin-left:1.4rem;
    }
    .video .content-item-special{
        margin-left:1.5rem;
        position: relative;
    }
    .content-item-special-image{
        margin-top:1rem;
    }
    .content-item-special-image img{
        width:90%;
    }
    .content-item-special-description{
        font-weight:bold;
        font-size:var(--font-small);
    }

    .whitepapers>.content-container>.content-item{
        padding:0.5rem 0rem;
    }

    /* addsection */
    .addisplay{
        width:100%;
        background-color:var(--lightbluebg);
        display:flex;
        justify-content:center;
        align-items:center;
        height:100%;
    }
    /* addsection */

    /* content-section */
    
    /*footer*/
    .footer{
        width:100%;
        background-color:white;
        display:flex;
    }
    .credits{
        display:flex;
        margin-left:11rem;
        flex-grow:3;
        padding-top:2rem;
        padding-bottom:3rem;
        position: relative;
    }
    .credits::after{
        content:'';
        display:block;
        position:absolute;
        width:0.1rem;
        height:15rem;
        opacity:0.2;
        right:0rem;
        bottom:3rem;
        background-color:var(--lighttext);
    }
    .credits-list{
        list-style-type:none;
        padding:0;
        margin:0;
    }
    .credits-item{
        margin-left:3rem;
    }
    .credits-list-item{
        line-height:2rem;
        font-weight:bold;
    }
    .companies-wrapper{
        width:35%;
        padding-top:2rem;
        padding-bottom:3rem;
        display:flex;
    }
    .companies{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        align-items:center;
        justify-items:center;
        margin-left:3rem;
    }
    .companies>div{
        padding:0 0 0 1rem;
    }
    .trust{
        grid-column:2/4;
        justify-self: start;
        align-self:end;
    }
    .dnb{
        position: relative;
        align-self:end;
        top:1rem;
    }
    .buss,.norton{
        justify-self:start;
    }
    .mcaf{
        align-self:center;
    }
    .ending{
        align-self:start;
        justify-self:start;
        margin-left:1.5rem;
        grid-column:1/4;
        color:var(--lighttext);
        font-weight:bold;
        font-size:1rem;
    }
    /*footer*/
    

}
